.metadata/
adx2/
Resources/
Resources.zip/
proj.win32/Debug.win32/
proj.win32/Release.win32/
cocos2d/cocos/2d/Debug.win32/
cocos2d/cocos/2d/Release.win32/
proj.android/obj/
proj.android/obj/local/
proj.android/assets/
proj.android/bin/
proj.android/gen/
proj.android/libs/
*.obj
*.log
*.sdf

### Xcode ###
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate
proj.ios_mac/Note.xcodeproj/project.xcworkspace/xcuserdata/ToshikawaSeita.xcuserdatad/UserInterfaceState.xcuserstate